@media (min-width: 901px){
    .logoFullScreen {
        width: 40px;
        margin-right: 15px;
    }
}

@media (max-width: 900px){
    .logoFullScreen {
        display: none
    }
}

@media (min-width: 901px){
    .logoMobile {
        display: none;
    }
}

@media (max-width: 900px){
    .logoMobile {
        width: 40px;
        display: flex;
        position: absolute;
        left: 45%;
    }
}

.logoFullScreen {
    cursor: pointer;
}